.App {
  text-align: center;
}

.Hero {
  display: flex;
  flex-direction: column;
  background-color: #fdefef;
  background-image: url(./images/texture.png);
  padding: 128px 24px 78px 24px;
}

.Results {
  background-image: url(./images/texture.png);
  margin: 0;
  padding: 128px 96px 128px 96px;
}
